body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 70ch;
    text-align: left;
    background-color: #fefefe;
    word-wrap: break-word;
    line-height: 1.5;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #111;
}




a {
    box-shadow: inset 0 0 0 0 #522D86;
    color: #522D86;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-size: 16px;
}
a:hover {
    color: #fff;
    box-shadow: inset 400px 0 0 0 #522D86;;
  }

nav a {
    margin-right: 10px;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input {
    font-size: 16px;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}

pre {
    padding: 1rem;
}

pre>code {
    all: unset;
}

blockquote {
    border: 1px solid #999;
    color: #222;
    padding: 2px 0px 2px 20px;
    margin: 0px;
    font-style: italic;
}