---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// TS globals
import { SITE_TITLE, SITE_DESCRIPTION } from "../utils/consts";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header title={SITE_TITLE} />
        <main>
            <h1>Terms of use</h1>
            <p>
                These terms and conditions set out the terms and conditions of
                use of the website <a href="/"
                    >https://cfiguin.fr</a
                >
            </p>
            <p>
                The user acknowledges that he/she has read this document and
                accepts all the information contained herein, whether for
                personal or professional use. If this use is made on a
                professional basis, the user guarantees that he/she has the
                necessary authority to accept these terms and conditions within
                his/her organization.
            </p>
            <h2>Editor and publication director</h2>
            <p>
                This personal blog has not been declared to the CNIL and is
                edited by Cyril Figuin.
            </p>
            <h2>Hosting</h2>
            <p>
                This website is hosted in France and Switzerland by
                PlanetHoster.<br />
                Head office : 4416 Louis-B.-Mayer, Laval, Québec, Canada H7P 0G1 - Paris Phone : 01 76 60 41 43 - Website : <a target="_blank" href="https://www.planethoster.com/fr/">https://www.planethoster.com/fr/</a> 
            </p>
            <p>
                This host currently holds the personal data of the author of
                this site.
            </p>
        </main>
        <Footer />
    </body>
</html>
